<div class="tag-container">
  <button mat-raised-button color="primary" (click)="openAddModal()">Add Label</button>
  <table mat-table [dataSource]="tags">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let tag"> {{ tag.label }} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let tag" [style.backgroundColor]="tag.color" [style.color]="'white'"> {{ tag.color }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let tag">
        <button mat-icon-button (click)="openEditModal(tag)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(tag.id!)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['label', 'color', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['label', 'color', 'actions'];"></tr>
  </table>
</div>
